RedirectMatch 301 /docs(.*) https://traffic-control-cdn.readthedocs.io/en$1
RedirectMatch 301 /licenses(.*) https://www.apache.org/licenses$1
RedirectMatch 301 /foundation(.*) https://www.apache.org/foundation$1
